@import "tailwindcss";

@theme {
  --color-regalo-rosa: #F25C92;
  --color-regalo-azul-c: #00AEEF;
  --color-regalo-azul-r: #0071BC;
  --color-regalo-verde: #7AC143;
}

body {
  margin: 0;
  padding: 0;
}